<% @div_title = "Path: #{@path}" %>


      <div class='new round pad_nice'>
         Browser:<br  />
         <% @files[:files].each do |file| %>
         <a href='/<%=@url%>?path=<%=file[:path]%>'><%=file[:label]%></a><br  />
         <% end %>
      </div>
      <div class='unwatched round pad_nice'>
         <table>
         <tr>
           <th><a href="/<%=@url_alpha%>?path=<%=@path%>">Unwatched Name</a></th>
           <th><a href="/<%=@url_mod%>?path=<%=@path%>">Modified</a></th>
           <th><a href="#">Modify Status</a></th>
         </tr>
         <tr>
            <td colspan="3">
               <strong><a href='/<%=@url%>?mark=watched&path=<%=@path%>'>Mark All Watched</a></strong>
            </td>
         </tr>

         <% @files[:unwatched].each do |file| %>
            <tr>
               <td>
                  <a class='unwatched' href='/<%=@url%>?path=<%=file[:path]%>'><%=file[:label]%>
               </a>
            </td>
            <td><%= file[:modified] %></td>
            <td class='status'>
               <a href="/<%=@url%>?mark=watched&path=<%=file[:path]%>">watched</a>
            </td>
         </tr>
         <% end %>
         </table>
      </div>
      <div class='watched round pad_nice'>
         <table>
         <tr>
           <th><a href="/<%=@url_alpha%>?path=<%=@path%>">Watched Name</a></th>
           <th><a href="/<%=@url_mod%>?path=<%=@path%>">Modified</a></th>
           <th><a href="#">Modify Status</a></th>
        </tr>
        <tr>
           <td colspan="3">
              <strong><a href='/<%=@url%>?mark=unwatched&path=<%=@path%>'>Mark All UnWatched</a></strong>
           </td>
        </tr>

         <% @files[:watched].each do |file| %>
            <tr>
               <td>
                  <a class='watched' href='/<%=@url%>?path=<%=file[:path]%>'><%=file[:label]%></a>
               </td>
               <td><%= file[:modified] %></td>
               <td class='status'><a href="/<%=@url%>?mark=unwatched&path=<%=file[:path]%>">unwatched</a></td>
            </tr>
         <% end %>
         </table>
      </div>

